@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Group3_3_Mission8.Models.TaskModel

@{
    ViewData["Title"] = "Add/Edit Task";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="SaveTask" method="post">
    <div class="form-group">
        <label asp-for="TaskName">Task</label>
        <input asp-for="TaskName" class="form-control"/>
        <span asp-validation-for="TaskName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DueDate">Due Date</label>
        <input asp-for="DueDate" class="form-control" type="date"/>
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quadrant">Quadrant</label>
        <select asp-for="Category" class="form-control">
            <option value="QuadrantI">Quadrant I</option>
            <option value="QuadrantII">Quadrant II</option>
            <option value="QuadrantIII">Quadrant III</option>
            <option value="QuadrantIV">Quadrant IV</option>
        </select>
        <span asp-validation-for="Quadrant" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Category">Category</label>
        <input asp-for="Category" class="form-control" />
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input asp-for="Completed" class="form-check-label"/>
            <label asp-for="Completed" class="form-check-label">Completed</label>
        </div>

        <span asp-validation-for="Completed" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>


